
body {
  background-image: url("items/background.png");
  background-size: cover;
  background-position: center;
  height: 100vh; /* Add this line */
  overflow-y: hidden; /* Add this line */
 
  width: 100vw;
  margin: 0;
  padding: 0;
}

#menu {
position: fixed;
top: 0;
width: 100%;
height:50px;
background:darkslateblue; /* Change background color to #333 */
display: block;
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
align-items: center;
align-self: start;
font-family: Arial, Helvetica, sans-serif;
z-index: 999;
}
.game-title{
  width: 100%;
  height: 50px;
  align-items: center;
  font-size: 20px;
}
.logo {
float: left;
padding: 14px 20px;
opacity: 1;
}

li {
float: right;
}

li a {
display: inline-block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

li a:hover {
background-color: #111;
}

div {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
height: 100vh;
width: 100vw;
/* background-color: #333; */
}

.form {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
/* width: 100%;
height: 15%; */
height: 9vh;
width: 15vw;
/* background-color: #333; */
}

  .Game {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: 100%;
    min-height: 100vh; /* set the minimum height of the game container to 100vh */
   /* background-color: #000; set the background color of the game container */
  }

  .settings {
    width: 7%;
    padding: 20px;
    text-align: center;
    color: #fff; /* set the text color for the settings area */
  }
  .settings tr {
    width: 7%;
    align-self: flex-start; /* align table rows to the top of the flex container */
  }
 button,
 #SubmitSignUp,
 #SubmitLogin{
    font-family: Lora;
    letter-spacing: 10px;
    color: white;
    font-size: 15px;
    font-weight: 600;
    border: 2px solid #ccd5d9;
    background-color:darkslateblue;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
    animation: fadeIn 1s ease-in forwards;
}



input[type="text"],
input[type="password"],input[type="email"],input[type="date"],input[type="firstname"],input[type="lastname"],
input[type="reset"], #shootchange, input[type="submit"],input[type="number"]
{
  width: 100%;
  padding:8px;
  border-radius: 10px;
  border: 4px solid darkslateblue;
}

/* input[type="button"] {
  display: block;
  width: 100%;
  padding: 8px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
} */

button:hover,
#SubmitSignUp:hover,
#SubmitLogin:hover{
  background-color:black;
}
#submitplay:hover{
  background-color:ghostwhite;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
  
  #Score,
  #playerhp
  {
    margin-top: 20px;
    font-size: 16px;
  }

  .screen {
    flex: 1;
    max-height: calc(120vh - 150px); /* Subtract the height of the menu bar and footer from 100vh */
    max-width: 800vh;
    margin-top: 100px;
    overflow: hidden;
    position: relative;
    height: calc(100vh - 150px);
    /* width: 1000px; */
  }
  /* .canvas-container {
    position: relative; /* set the parent element to relative position so that the child element can be positioned relative to it */
    /* height: 0; /* set the height to 0 so that the child element can overflow from the bottom */
   /* padding-top: 100%; /* set the padding-top to a percentage value that corresponds to the desired height of the canvas from above */
  
  canvas {
    border: 1px solid rgb(252, 248, 248);
    width: 800vh; /* Set the width to 100% to take up the entire width of its container */
    /*height: 100%; /* Set the height to 100% to take up the entire height of its container */
    display: flex;
    transform-origin: center; /* set the transform origin to top left corner of the canvas */
    /* transform: scale(0.85);  */
    background-image: url('/items/inGameBackground.jpeg');
    background-size: cover;
    bottom: 0;
    transform-origin: top;
    transform: scaleY(1.1); 
    
    
    
   /* height: 90vh; /* You can adjust the height to a percentage or pixel value as needed */
  }
  

.footer {
position: fixed;
bottom: 0;
width: 100%;
height: 50px; /* You can adjust the height as needed */
/* background-color: #333; */
color: white;
text-align: center;
/* display: flex; */
/* align-items: center; */
/* justify-content: center; */
font-family: Arial, Helvetica, sans-serif;
}

#scoreboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  
}
#scoreboard table {
  border-collapse: collapse;
  margin-top: 20px;
  background-color:slateblue;
}
#scoreboard table, #scoreboard th, #scoreboard td {
  border: 2px solid white;
  padding: 10px;
}
/* timeLeft{
  font-size: 10%;
} */
li{
  color: azure;
}
h1{
  color: azure;
}
p{
  color: azure;
}
label{
  color: azure;
}
.image-container {
  width: 500px; /* Set the desired width of the container */
  height: auto; /* Set the height to auto to maintain aspect ratio */
}

.newPlayer{
  display: block;
  max-width: 100%; /* Set the maximum width to ensure the image fits inside the container */
  height: auto; /* Set the height to auto to maintain aspect ratio */
}
