/* #headline {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 4em;
  font-weight: bold;
  text-transform: uppercase;
  color: #dadada00;
  text-align: center;
  margin-top: 30px;
  letter-spacing: 2px;
  line-height: 1.2;
  text-shadow: 1px 1px #f4f4f4;
} */



body {
  background-image: url("/items/background.png");
  background-size: cover;
  background-position: center;
  height: 100vh; /* Add this line */
  overflow-y: hidden; /* Add this line */
 
  width: 100vw;
  margin: 0;
  padding: 0;
}

#menu {
position: fixed;
top: 0;
width: 100%;
height:50px;
background: #333; /* Change background color to #333 */
display: block;
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
align-items: center;
align-self: start;
font-family: Arial, Helvetica, sans-serif;
}
.game-title{
  width: 100%;
  height: 50px;
  align-items: center;
  font-size: 20px;
}
.logo {
float: left;
padding: 14px 20px;
opacity: 1;
}

li {
float: right;
}

li a {
display: inline-block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

li a:hover {
background-color: #111;
}

div {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
height: 100vh;
width: 100vw;
/* background-color: #333; */
}

.form {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
height: 7vh;
width: 7vw;
/* background-color: #333; */
}
/* 
.Game {
display: flex;
height: 100vh;
}

.settings {
width: 7%;
border: 1px solid rgb(245, 237, 237);
}

.screen {
  width: 100%;
  height: 650px;
border: 1px solid rgb(250, 249, 249);
}

table {
width: 100%;
height: 650px;
border-collapse: collapse;
}

canvas {
border: 1px solid rgb(252, 248, 248);
width: 100%;
height: 100%;
} */

  .Game {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* set the minimum height of the game container to 100vh */
   /* background-color: #000; set the background color of the game container */
  }

  .settings {
    padding: 20px;
    text-align: center;
    color: #fff; /* set the text color for the settings area */
  }
  .settings tr {
    align-self: flex-start; /* align table rows to the top of the flex container */
  }
 button,
 #SubmitSignUp,
 #SubmitLogin{
    font-family: Lora;
    letter-spacing: 10px;
    color: #a5e4ff;
    font-size: 15px;
    font-weight: 600;
    border: 2px solid #7d8487;
    background-color: white;
    padding: 10px 20px;
    cursor: pointer;
  
    animation: fadeIn 1s ease-in forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
  
  #Score,
  #playerhp
  {
    margin-top: 20px;
    font-size: 16px;
  }

  .screen {
    flex: 1; /* set the game screen to take up remaining space */
    max-height: 90vh; /* set the maximum height of the game screen to 90vh */
    /* background-color: #000; set the background color of the game screen */
    margin-top: 50px;
    overflow: hidden; /* hide any overflow from canvas element */
    position: relative;
  }

  /* #theCanvas {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  } */
  canvas {
    border: 1px solid rgb(252, 248, 248);
    width: 100%;
    height: 100%;
    display: block;
    transform-origin: top left; /* set the transform origin to top left corner of the canvas */
    transform: scale(0.85); 
  }

.footer {
position: fixed;
bottom: 0;
width: 100%;
height: 50px; /* You can adjust the height as needed */
/* background-color: #333; */
color: white;
text-align: center;
display: flex;
align-items: center;
justify-content: center;
font-family: Arial, Helvetica, sans-serif;
}

#scoreboard {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#scoreboard table {
  border-collapse: collapse;
  margin-top: 20px;
}
#scoreboard table, #scoreboard th, #scoreboard td {
  border: 1px solid black;
  padding: 5px;
}
/* timeLeft{
  font-size: 10%;
} */
li{
  color: azure;
}
h1{
  color: azure;
}
p{
  color: azure;
}
label{
  color: azure;
}