#headline {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 4em;
  font-weight: bold;
  text-transform: uppercase;
  color: #f6f6f600;
  text-align: center;
  margin-top: 30px;
  letter-spacing: 2px;
  line-height: 1.2;
  text-shadow: 1px 1px #f4f4f4;
}


body {
    background-image: url("/items/background.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}


.Welcome {
  
  justify-items: center;
  align-items: center;
}


  button {
    font-size: 20px;
    color: #fff;
    background-color: #333;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    margin: 20px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #555;
  }
  
  /* The modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black with opacity */
}

/* Modal content */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Close button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
